*{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 150px;
    height: 150px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 10%;
    box-shadow: 3px 3px 3px black;
}

table{
    width: 70%;
    margin-left: 15%;
    border-style: solid;
    border-width: 1px;
    border-color: black;

}

/*
    Asignación de propiedades a través del atributo 
    id. Se declara el id con un nombre en la etiqueta.
*/

#encabezado{
    background-color: darkgray ;
    font-size: 32px;
    
    
}

/* 
Los Th contenidos en el encabezado
*/

#encabezado th{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-shadow: 3px 3px 3px white;
}

/*
    Se hace referencia a traves de un .nombre de clase,para acceder a la
    clase declarada en las etiquetas html
*/

.par{
    background-color: #cccccccc;
}

.impar{
    background-color: gray;
}

tbody tr:hover{
    background-color: white;
    
}