 *{ 
font-family: Arial, Helvetica, sans-serif;
 }
 img{
            width: 150px;
            height: 150px;
            border: 1px;
            border-style: solid;
            border-color: gray;
             border-radius: 10%;
             box-shadow: 3px 3px 3px black;
        }
        table{
            width: 70%;
            margin-left: 15%; 
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }
        /* 

        Asignacion de propiedaes a travez del atributo id.Se declara el id con un nome en la etiquta

        */
        #encabezado{
            background-color: darkgrey;
            font-size: 32px; 
        } 
        /* 
            Los th contenidos en el encabezado
         */
         #encabezado th{
            border-style: solid;
            border-color: black;
            border-width: 1px;
            text-shadow: 3px 3px 3px white;
         }

         /*
         se hace referencia a traves de .nombre de clase para acceder a la clases declaradas n las etiquetas html consultar w3schools 
         */ 
         .par{
            background-color: #cccccc;
         }
         .impar{
            background-color: gray;
           
         }
        tbody tr:hover{
            background-color: white; 
}
         


        
         